[submodule "fin-app-web"]
	path = fin-app-web
	url = https://github.com/buemura/fin-app-web
[submodule "fin-app-backend"]
	path = fin-app-backend
	url = https://github.com/buemura/fin-app-backend.git
[submodule "fin-app-cron"]
	path = fin-app-cron
	url = https://github.com/buemura/fin-app-cron.git
[submodule "stock-scrape-service"]
	path = stock-scrape-service
	url = https://github.com/buemura/stock-scrape-service.git
